@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;600&display=swap");
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 72px;
    line-height: 72px;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 96px;
    line-height: 96px;
  }
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  line-height: 38px;
  margin: 0;
}
@media (min-width: 768px) {
  h2 {
    font-size: 62px;
    line-height: 62px;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 80px;
    line-height: 80px;
  }
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 36px;
  margin: 0;
}
@media (min-width: 768px) {
  h3 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 48px;
    line-height: 58px;
  }
}

h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
@media (min-width: 768px) {
  h4 {
    font-size: 24px;
    line-height: 30px;
  }
}

h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.page {
  scroll-behavior: smooth;
  background-color: #f1f5f4;
}
.page__body {
  margin: 0;
  padding: 0;
}
.page__menu {
  position: fixed;
  background-color: #3f5252;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
.page__menu:target {
  transform: translateX(0);
}

.header {
  background-color: #3f5252;
  color: #f1f5f4;
  height: 747px;
}
@media (min-width: 768px) {
  .header {
    height: 1092px;
  }
}
@media (min-width: 1280px) {
  .header {
    height: 800px;
  }
}
.header__nav {
  max-width: 1280px;
  height: 90px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.header__nav-container {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .header__nav {
    padding: 0 40px;
    height: 77px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    height: 90px;
    padding: 0 55px;
  }
}
.header__logo:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}
.header__about {
  width: 280px;
  margin-top: 40px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .header__about {
    margin-top: 99px;
    margin-left: 39px;
  }
}
@media (min-width: 1280px) {
  .header__about {
    margin-left: 56px;
    margin-top: 90px;
  }
}
.header__about-title {
  margin-top: 10px;
}
.header__about-date {
  font-size: 14px;
  line-height: 20px;
}
.header__about-paragraph {
  margin-top: 28px;
  max-width: 267px;
}
@media (min-width: 768px) {
  .header__about-paragraph {
    max-width: 330px;
    margin-top: 19px;
  }
}
@media (min-width: 1280px) {
  .header__about-paragraph {
    max-width: 570px;
    margin-top: 28px;
  }
}
.header__about-button {
  margin-top: 42px;
}
@media (min-width: 768px) {
  .header__about-button {
    margin-top: 50px;
  }
}
@media (min-width: 1280px) {
  .header__about-button {
    margin-top: 82px;
  }
}
@media (min-width: 768px) {
  .header__about {
    width: 570px;
  }
}
.header__about-info {
  display: none;
  position: relative;
  margin-top: 137px;
  font-size: 14px;
  line-height: 20px;
}
.header__about-info:after {
  content: "";
  position: absolute;
  margin-left: 100px;
  height: 1px;
  width: 469px;
  background-color: #f1f5f4;
}
@media (min-width: 1280px) {
  .header__about-info {
    display: flex;
    align-items: center;
  }
}
.header__image {
  height: 257px;
  width: 245px;
  margin: 28px auto;
}
@media (min-width: 768px) {
  .header__image {
    height: 470px;
    width: 443px;
    margin: 47px auto;
  }
}
@media (min-width: 1280px) {
  .header__image {
    height: 663px;
    width: 625px;
    margin: 23px;
  }
}
.header .container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .header .container {
    margin: auto;
    flex-direction: row;
    justify-content: center;
  }
}

.language {
  display: none;
}
@media (min-width: 768px) {
  .language {
    display: block;
    margin-left: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #f1f5f4;
  }
}
.language-menu {
  position: absolute;
  right: 85px;
}
@media (min-width: 768px) {
  .language-menu {
    right: 50px;
  }
}
@media (min-width: 1280px) {
  .language-menu {
    right: 68px;
  }
}
.language__text {
  display: flex;
  align-items: center;
}
.language__text::after {
  content: "";
  display: block;
  margin-left: 4px;
  height: 8px;
  width: 8px;
  background-image: url(../images/dropdown.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon {
  display: block;
  height: 17px;
  width: 17px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}
.icon--menu {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-image: url(../images/menu.svg);
}
.icon--cross {
  height: 25px;
  width: 25px;
  background-size: contain;
  background-image: url(../images/icons/cross.svg);
}
@media (min-width: 768px) {
  .icon--cross {
    margin: 75px;
  }
}
.icon--scroll {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-image: url(../images/icons/scroll.svg);
}
.icon--facebook {
  background-image: url(../images/icons/Vector.svg);
}
.icon--twitter {
  background-image: url(../images/icons/Vector_2.svg);
}
.icon--telegram {
  background-image: url(../images/icons/telegram.svg);
}
.icon--instagram {
  background-image: url(../images/icons/instagram.svg);
}

.button {
  height: 60px;
  width: 280px;
  font-weight: 600;
  padding: 0;
  border: 1px solid #cd4d31;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #f1f5f4;
  background-color: #cd4d31;
  cursor: pointer;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .button {
    width: 330px;
  }
}
@media (min-width: 1280px) {
  .button {
    width: 270px;
  }
}
.button:hover {
  background-color: #af3419;
  border-color: #af3419;
}
.button:hover:active {
  background-color: #ea340d;
  border-color: #ea340d;
}
.button--secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f4;
  color: #cd4d31;
}
@media (min-width: 768px) {
  .button--secondary {
    width: 100%;
  }
}
.button--secondary::after {
  content: "";
  margin-left: 8px;
  display: block;
  height: 20px;
  width: 20px;
  background-image: url(../images/icons/arrow.svg);
}
.button--secondary:hover {
  color: #af3419;
  background-color: #f1f5f4;
}
.button--secondary:hover::after {
  background-image: url(../images/icons/arrow_hover.svg);
}
.button--secondary:hover:active {
  color: #ea340d;
  background-color: #f1f5f4;
}
.button--secondary:hover:active::after {
  background-image: url(../images/icons/arrow_active.svg);
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 80px);
  column-gap: 20px;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 90px);
    column-gap: 30px;
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(12, 70px);
  }
}
.grid--tablet {
  display: flex;
  margin: auto;
  flex-direction: column;
  max-width: 280px;
}
@media (min-width: 768px) {
  .grid--tablet {
    display: grid;
  }
}
.grid__item--1-1 {
  grid-column: 1/2;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-1 {
    grid-column: 1/2;
  }
}
.grid__item--1-2 {
  grid-column: 1/3;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-2 {
    grid-column: 1/3;
  }
}
.grid__item--1-3 {
  grid-column: 1/4;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-3 {
    grid-column: 1/4;
  }
}
.grid__item--1-4 {
  grid-column: 1/5;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-4 {
    grid-column: 1/5;
  }
}
.grid__item--1-5 {
  grid-column: 1/6;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-5 {
    grid-column: 1/6;
  }
}
.grid__item--1-6 {
  grid-column: 1/7;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-6 {
    grid-column: 1/7;
  }
}
.grid__item--1-7 {
  grid-column: 1/8;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-7 {
    grid-column: 1/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-7 {
    grid-column: 1/8;
  }
}
.grid__item--1-8 {
  grid-column: 1/9;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-8 {
    grid-column: 1/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-8 {
    grid-column: 1/9;
  }
}
.grid__item--1-9 {
  grid-column: 1/10;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-9 {
    grid-column: 1/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-9 {
    grid-column: 1/10;
  }
}
.grid__item--1-10 {
  grid-column: 1/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-10 {
    grid-column: 1/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-10 {
    grid-column: 1/11;
  }
}
.grid__item--1-11 {
  grid-column: 1/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-11 {
    grid-column: 1/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-11 {
    grid-column: 1/12;
  }
}
.grid__item--1-12 {
  grid-column: 1/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-1-12 {
    grid-column: 1/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-1-12 {
    grid-column: 1/13;
  }
}
.grid__item--2-2 {
  grid-column: 2/3;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-2 {
    grid-column: 2/3;
  }
}
.grid__item--2-3 {
  grid-column: 2/4;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-3 {
    grid-column: 2/4;
  }
}
.grid__item--2-4 {
  grid-column: 2/5;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-4 {
    grid-column: 2/5;
  }
}
.grid__item--2-5 {
  grid-column: 2/6;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-5 {
    grid-column: 2/6;
  }
}
.grid__item--2-6 {
  grid-column: 2/7;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-6 {
    grid-column: 2/7;
  }
}
.grid__item--2-7 {
  grid-column: 2/8;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-7 {
    grid-column: 2/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-7 {
    grid-column: 2/8;
  }
}
.grid__item--2-8 {
  grid-column: 2/9;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-8 {
    grid-column: 2/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-8 {
    grid-column: 2/9;
  }
}
.grid__item--2-9 {
  grid-column: 2/10;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-9 {
    grid-column: 2/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-9 {
    grid-column: 2/10;
  }
}
.grid__item--2-10 {
  grid-column: 2/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-10 {
    grid-column: 2/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-10 {
    grid-column: 2/11;
  }
}
.grid__item--2-11 {
  grid-column: 2/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-11 {
    grid-column: 2/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-11 {
    grid-column: 2/12;
  }
}
.grid__item--2-12 {
  grid-column: 2/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-2-12 {
    grid-column: 2/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-2-12 {
    grid-column: 2/13;
  }
}
.grid__item--3-3 {
  grid-column: 3/4;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-3 {
    grid-column: 3/4;
  }
}
.grid__item--3-4 {
  grid-column: 3/5;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-4 {
    grid-column: 3/5;
  }
}
.grid__item--3-5 {
  grid-column: 3/6;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-5 {
    grid-column: 3/6;
  }
}
.grid__item--3-6 {
  grid-column: 3/7;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-6 {
    grid-column: 3/7;
  }
}
.grid__item--3-7 {
  grid-column: 3/8;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-7 {
    grid-column: 3/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-7 {
    grid-column: 3/8;
  }
}
.grid__item--3-8 {
  grid-column: 3/9;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-8 {
    grid-column: 3/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-8 {
    grid-column: 3/9;
  }
}
.grid__item--3-9 {
  grid-column: 3/10;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-9 {
    grid-column: 3/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-9 {
    grid-column: 3/10;
  }
}
.grid__item--3-10 {
  grid-column: 3/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-10 {
    grid-column: 3/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-10 {
    grid-column: 3/11;
  }
}
.grid__item--3-11 {
  grid-column: 3/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-11 {
    grid-column: 3/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-11 {
    grid-column: 3/12;
  }
}
.grid__item--3-12 {
  grid-column: 3/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-3-12 {
    grid-column: 3/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-3-12 {
    grid-column: 3/13;
  }
}
.grid__item--4-4 {
  grid-column: 4/5;
}
@media (min-width: 768px) {
  .grid__item--tablet-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-4 {
    grid-column: 4/5;
  }
}
.grid__item--4-5 {
  grid-column: 4/6;
}
@media (min-width: 768px) {
  .grid__item--tablet-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-5 {
    grid-column: 4/6;
  }
}
.grid__item--4-6 {
  grid-column: 4/7;
}
@media (min-width: 768px) {
  .grid__item--tablet-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-6 {
    grid-column: 4/7;
  }
}
.grid__item--4-7 {
  grid-column: 4/8;
}
@media (min-width: 768px) {
  .grid__item--tablet-4-7 {
    grid-column: 4/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-7 {
    grid-column: 4/8;
  }
}
.grid__item--4-8 {
  grid-column: 4/9;
}
@media (min-width: 768px) {
  .grid__item--tablet-4-8 {
    grid-column: 4/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-8 {
    grid-column: 4/9;
  }
}
.grid__item--4-9 {
  grid-column: 4/10;
}
@media (min-width: 768px) {
  .grid__item--tablet-4-9 {
    grid-column: 4/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-9 {
    grid-column: 4/10;
  }
}
.grid__item--4-10 {
  grid-column: 4/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-4-10 {
    grid-column: 4/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-10 {
    grid-column: 4/11;
  }
}
.grid__item--4-11 {
  grid-column: 4/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-4-11 {
    grid-column: 4/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-11 {
    grid-column: 4/12;
  }
}
.grid__item--4-12 {
  grid-column: 4/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-4-12 {
    grid-column: 4/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-4-12 {
    grid-column: 4/13;
  }
}
.grid__item--5-5 {
  grid-column: 5/6;
}
@media (min-width: 768px) {
  .grid__item--tablet-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-5 {
    grid-column: 5/6;
  }
}
.grid__item--5-6 {
  grid-column: 5/7;
}
@media (min-width: 768px) {
  .grid__item--tablet-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-6 {
    grid-column: 5/7;
  }
}
.grid__item--5-7 {
  grid-column: 5/8;
}
@media (min-width: 768px) {
  .grid__item--tablet-5-7 {
    grid-column: 5/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-7 {
    grid-column: 5/8;
  }
}
.grid__item--5-8 {
  grid-column: 5/9;
}
@media (min-width: 768px) {
  .grid__item--tablet-5-8 {
    grid-column: 5/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-8 {
    grid-column: 5/9;
  }
}
.grid__item--5-9 {
  grid-column: 5/10;
}
@media (min-width: 768px) {
  .grid__item--tablet-5-9 {
    grid-column: 5/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-9 {
    grid-column: 5/10;
  }
}
.grid__item--5-10 {
  grid-column: 5/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-5-10 {
    grid-column: 5/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-10 {
    grid-column: 5/11;
  }
}
.grid__item--5-11 {
  grid-column: 5/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-5-11 {
    grid-column: 5/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-11 {
    grid-column: 5/12;
  }
}
.grid__item--5-12 {
  grid-column: 5/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-5-12 {
    grid-column: 5/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-5-12 {
    grid-column: 5/13;
  }
}
.grid__item--6-6 {
  grid-column: 6/7;
}
@media (min-width: 768px) {
  .grid__item--tablet-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-6 {
    grid-column: 6/7;
  }
}
.grid__item--6-7 {
  grid-column: 6/8;
}
@media (min-width: 768px) {
  .grid__item--tablet-6-7 {
    grid-column: 6/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-7 {
    grid-column: 6/8;
  }
}
.grid__item--6-8 {
  grid-column: 6/9;
}
@media (min-width: 768px) {
  .grid__item--tablet-6-8 {
    grid-column: 6/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-8 {
    grid-column: 6/9;
  }
}
.grid__item--6-9 {
  grid-column: 6/10;
}
@media (min-width: 768px) {
  .grid__item--tablet-6-9 {
    grid-column: 6/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-9 {
    grid-column: 6/10;
  }
}
.grid__item--6-10 {
  grid-column: 6/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-6-10 {
    grid-column: 6/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-10 {
    grid-column: 6/11;
  }
}
.grid__item--6-11 {
  grid-column: 6/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-6-11 {
    grid-column: 6/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-11 {
    grid-column: 6/12;
  }
}
.grid__item--6-12 {
  grid-column: 6/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-6-12 {
    grid-column: 6/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-6-12 {
    grid-column: 6/13;
  }
}
.grid__item--7-7 {
  grid-column: 7/8;
}
@media (min-width: 768px) {
  .grid__item--tablet-7-7 {
    grid-column: 7/8;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-7 {
    grid-column: 7/8;
  }
}
.grid__item--7-8 {
  grid-column: 7/9;
}
@media (min-width: 768px) {
  .grid__item--tablet-7-8 {
    grid-column: 7/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-8 {
    grid-column: 7/9;
  }
}
.grid__item--7-9 {
  grid-column: 7/10;
}
@media (min-width: 768px) {
  .grid__item--tablet-7-9 {
    grid-column: 7/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-9 {
    grid-column: 7/10;
  }
}
.grid__item--7-10 {
  grid-column: 7/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-7-10 {
    grid-column: 7/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-10 {
    grid-column: 7/11;
  }
}
.grid__item--7-11 {
  grid-column: 7/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-7-11 {
    grid-column: 7/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-11 {
    grid-column: 7/12;
  }
}
.grid__item--7-12 {
  grid-column: 7/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-7-12 {
    grid-column: 7/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-7-12 {
    grid-column: 7/13;
  }
}
.grid__item--8-8 {
  grid-column: 8/9;
}
@media (min-width: 768px) {
  .grid__item--tablet-8-8 {
    grid-column: 8/9;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-8 {
    grid-column: 8/9;
  }
}
.grid__item--8-9 {
  grid-column: 8/10;
}
@media (min-width: 768px) {
  .grid__item--tablet-8-9 {
    grid-column: 8/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-9 {
    grid-column: 8/10;
  }
}
.grid__item--8-10 {
  grid-column: 8/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-8-10 {
    grid-column: 8/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-10 {
    grid-column: 8/11;
  }
}
.grid__item--8-11 {
  grid-column: 8/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-8-11 {
    grid-column: 8/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-11 {
    grid-column: 8/12;
  }
}
.grid__item--8-12 {
  grid-column: 8/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-8-12 {
    grid-column: 8/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-8-12 {
    grid-column: 8/13;
  }
}
.grid__item--9-9 {
  grid-column: 9/10;
}
@media (min-width: 768px) {
  .grid__item--tablet-9-9 {
    grid-column: 9/10;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-9-9 {
    grid-column: 9/10;
  }
}
.grid__item--9-10 {
  grid-column: 9/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-9-10 {
    grid-column: 9/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-9-10 {
    grid-column: 9/11;
  }
}
.grid__item--9-11 {
  grid-column: 9/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-9-11 {
    grid-column: 9/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-9-11 {
    grid-column: 9/12;
  }
}
.grid__item--9-12 {
  grid-column: 9/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-9-12 {
    grid-column: 9/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-9-12 {
    grid-column: 9/13;
  }
}
.grid__item--10-10 {
  grid-column: 10/11;
}
@media (min-width: 768px) {
  .grid__item--tablet-10-10 {
    grid-column: 10/11;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-10-10 {
    grid-column: 10/11;
  }
}
.grid__item--10-11 {
  grid-column: 10/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-10-11 {
    grid-column: 10/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-10-11 {
    grid-column: 10/12;
  }
}
.grid__item--10-12 {
  grid-column: 10/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-10-12 {
    grid-column: 10/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-10-12 {
    grid-column: 10/13;
  }
}
.grid__item--11-11 {
  grid-column: 11/12;
}
@media (min-width: 768px) {
  .grid__item--tablet-11-11 {
    grid-column: 11/12;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-11-11 {
    grid-column: 11/12;
  }
}
.grid__item--11-12 {
  grid-column: 11/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-11-12 {
    grid-column: 11/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-11-12 {
    grid-column: 11/13;
  }
}
.grid__item--12-12 {
  grid-column: 12/13;
}
@media (min-width: 768px) {
  .grid__item--tablet-12-12 {
    grid-column: 12/13;
  }
}
@media (min-width: 1280px) {
  .grid__item--desktop-12-12 {
    grid-column: 12/13;
  }
}

.exhibitions__nav {
  position: relative;
  margin-top: 90px;
}
@media (min-width: 768px) {
  .exhibitions__nav {
    margin-top: 106px;
  }
}
@media (min-width: 1280px) {
  .exhibitions__nav {
    margin-top: 110px;
  }
}
.exhibitions__button {
  position: absolute;
  top: 1466px;
}
@media (min-width: 768px) {
  .exhibitions__button {
    position: relative;
    top: -5px;
  }
}
@media (min-width: 768px) {
  .exhibitions__button {
    top: 0;
  }
}
@media (min-width: 768px) {
  .exhibitions__card:last-child p:nth-last-child(-n+2) {
    margin-top: 46px;
  }
}
@media (min-width: 1280px) {
  .exhibitions__card:last-child p:nth-last-child(-n+2) {
    margin-top: 20px;
  }
}
.exhibitions__card-art {
  object-fit: cover;
  object-position: 30%;
  width: 280px;
  height: 356px;
  margin-top: 60px;
  transition: transform 0.3s;
}
.exhibitions__card-art:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .exhibitions__card-art {
    margin-top: 65px;
    width: 330px;
    height: 420px;
  }
}
@media (min-width: 1280px) {
  .exhibitions__card-art {
    margin-top: 70px;
    width: 570px;
    height: 484px;
  }
}
.exhibitions__card-date {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .exhibitions__card-date {
    margin-top: 28px;
  }
}
@media (min-width: 1280px) {
  .exhibitions__card-date {
    margin-top: 15px;
  }
}
.exhibitions__card-title {
  margin-top: 10px;
}
.exhibitions__card-description {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .exhibitions__card-description {
    margin-top: 16px;
  }
}
.exhibitions__card-button {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .exhibitions__card-button {
    margin-top: 40px;
  }
}
@media (min-width: 1280px) {
  .exhibitions__card-button {
    margin-top: 54px;
  }
}

.date {
  color: #cd4d31;
}

.description {
  color: #504f5e;
}

.events__nav {
  position: relative;
  margin-top: 210px;
}
.events__nav-link:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}
@media (min-width: 768px) {
  .events__nav {
    margin-top: 164px;
  }
}
@media (min-width: 1280px) {
  .events__nav {
    margin-top: 194px;
  }
}
.events__button {
  position: absolute;
  top: 1522px;
}
@media (min-width: 768px) {
  .events__button {
    position: relative;
    top: -5px;
  }
}
@media (min-width: 768px) {
  .events__button {
    top: 0;
  }
}
.events__card {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .events__card:last-child {
    margin-top: 70px;
  }
}
@media (min-width: 1280px) {
  .events__card:last-child {
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .events__card {
    margin-top: 66px;
  }
}
@media (min-width: 1280px) {
  .events__card {
    margin-top: 70px;
  }
}
.events__card-date {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .events__card-date {
    margin-top: 0;
  }
}
.events__card-title {
  margin-top: 10px;
}
.events__card-about {
  max-width: 260px;
  line-height: 24px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .events__card-about {
    max-width: 330px;
  }
}
@media (min-width: 1280px) {
  .events__card-about {
    max-width: 570px;
  }
}
.events__card-button {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .events__card-button {
    margin-top: 50px;
  }
}
.events__card-image {
  object-fit: cover;
  width: 100%;
  height: 358px;
  transition: transform 0.3s;
}
.events__card-image:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .events__card-image {
    width: 330px;
    height: 422px;
  }
}
@media (min-width: 1280px) {
  .events__card-image {
    width: 370px;
    height: 475px;
  }
}

.visit {
  background-color: #3f5252;
  position: relative;
}
.visit-image {
  display: none;
}
@media (min-width: 1280px) {
  .visit-image {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 578px;
    height: 800px;
    margin-left: -60px;
  }
}
.visit .container {
  margin-top: 180px;
}
@media (min-width: 768px) {
  .visit .container {
    margin-top: 104px;
  }
}
@media (min-width: 1280px) {
  .visit .container {
    margin-top: 110px;
  }
}
.visit__about {
  color: #f1f5f4;
  height: 416px;
}
@media (min-width: 768px) {
  .visit__about {
    height: 515px;
  }
}
@media (min-width: 1280px) {
  .visit__about {
    height: 800px;
  }
}
.visit__about-title {
  margin-top: 50px;
  width: 280px;
}
@media (min-width: 768px) {
  .visit__about-title {
    margin-top: 88px;
    width: 450px;
  }
}
@media (min-width: 1280px) {
  .visit__about-title {
    margin-top: 225px;
    width: 650px;
  }
}
.visit__about-description {
  margin-top: 20px;
  width: 280px;
}
@media (min-width: 768px) {
  .visit__about-description {
    padding-top: 12px;
    width: 450px;
  }
}
@media (min-width: 1280px) {
  .visit__about-description {
    width: 470px;
  }
}
.visit__about-button {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .visit__about-button {
    margin-top: 58px;
  }
}
@media (min-width: 1280px) {
  .visit__about-button {
    margin-top: 45px;
  }
}

.news {
  position: relative;
}
.news__nav {
  margin-top: 90px;
}
@media (min-width: 768px) {
  .news__nav {
    margin-top: 124px;
  }
}
@media (min-width: 1280px) {
  .news__nav {
    margin-top: 111px;
  }
}
.news__button {
  position: absolute;
  bottom: -88px;
}
@media (min-width: 768px) {
  .news__button {
    position: relative;
    bottom: 0;
  }
}
.news__card:last-child {
  margin-top: -13px;
}
@media (min-width: 768px) {
  .news__card:last-child {
    margin-top: 0;
  }
}
.news__card-image {
  margin-top: 60px;
  width: 280px;
  height: 281px;
  object-fit: cover;
  transition: transform 0.3s;
}
.news__card-image:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .news__card-image {
    margin-top: 64px;
    height: 330px;
    width: 330px;
  }
}
@media (min-width: 1280px) {
  .news__card-image {
    margin-top: 54px;
    height: 370px;
    width: 570px;
  }
}
.news__card-date {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .news__card-date {
    margin-top: 26px;
  }
}
@media (min-width: 1280px) {
  .news__card-date {
    margin-top: 15px;
  }
}
.news__card-title {
  margin-top: -1px;
}
.news__card-about {
  margin-top: 18px;
}
@media (min-width: 768px) {
  .news__card-about {
    margin-top: 20px;
  }
}

.digest-title {
  margin-top: 206px;
}
@media (min-width: 768px) {
  .digest-title {
    margin-top: 162px;
  }
}
@media (min-width: 1280px) {
  .digest-title {
    margin-top: 200px;
  }
}
.digest-about {
  margin-top: 20px;
}
@media (min-width: 1280px) {
  .digest-about {
    margin-top: 200px;
  }
}
.digest-input {
  margin-top: 50px;
  border: none;
  box-sizing: border-box;
  color: #1c1b29;
  font-size: 16px;
  line-height: 24px;
  background-color: #f1f5f4;
  border-bottom: 1px solid #1c1b29;
  width: 100%;
  outline: none;
}
.digest-input:hover {
  border-color: #cd4d31;
  color: #cd4d31;
}
.digest-input:focus {
  border-color: #cd4d31;
  color: #cd4d31;
}
.digest-input:valid {
  font-weight: bold;
}
.digest-button {
  margin-top: 30px;
}
@media (min-width: 1280px) {
  .digest-button {
    margin-top: 42px;
  }
}

.footer {
  background-color: #3f5252;
  color: #f1f5f4;
  max-width: 100%;
  position: relative;
}
.footer__contacts {
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer__contacts {
    margin-top: 14px;
  }
}
.footer__contacts-title {
  margin-top: 36px;
  font-size: 18px;
  line-height: 27px;
}
@media (min-width: 768px) {
  .footer__contacts-title {
    font-size: 20px;
    line-height: 30px;
  }
}
.footer__contacts-info {
  margin-top: 10px;
}
.footer__contacts-info-link {
  display: inline-block;
  text-decoration: none;
  color: #f1f5f4;
}
.footer__contacts-info-link:hover {
  transform: scale(1.1);
  color: #cd4d31;
}
@media (min-width: 768px) {
  .footer__contacts-info {
    margin-top: 30px;
  }
}
.footer__contacts-social {
  width: 138px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer__contacts-social {
    margin-top: 51px;
  }
}
.footer__nav {
  margin-top: 34px;
}
@media (min-width: 768px) {
  .footer__nav {
    margin-top: 50px;
  }
}
.footer__schedule-title {
  margin-top: 52px;
  font-size: 18px;
  line-height: 27px;
}
@media (min-width: 768px) {
  .footer__schedule-title {
    margin-top: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}
.footer__schedule-list {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
}
@media (min-width: 768px) {
  .footer__schedule-list {
    margin-top: 30px;
  }
}
.footer__license {
  width: 280px;
  margin: auto;
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__license {
    width: 690px;
  }
}
@media (min-width: 1280px) {
  .footer__license {
    margin-top: 10px;
    width: 1170px;
  }
}
.footer__license-link {
  position: absolute;
  right: 20px;
  bottom: 40px;
}
@media (min-width: 768px) {
  .footer__license-link {
    right: 40px;
  }
}
@media (min-width: 1280px) {
  .footer__license-link {
    right: 56px;
  }
}

.info {
  display: flex;
}
.info-date {
  font-size: 14px;
}
.info-text {
  margin-left: 22px;
  font-size: 14px;
}
@media (min-width: 1280px) {
  .info-text {
    margin-left: 103px;
  }
}

.list {
  margin-top: 8px;
  padding: 0;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 27px;
}
.list-link {
  text-decoration: none;
  color: #f1f5f4;
  display: inline-block;
}
.list-link:hover {
  transform: scale(1.1);
  color: #cd4d31;
}
@media (min-width: 768px) {
  .list {
    margin-top: 26px;
    line-height: 33px;
  }
}

.wrapper--footer {
  margin-top: 80px;
}
@media (min-width: 768px) {
  .wrapper--footer {
    margin-top: 128px;
  }
}
@media (min-width: 1280px) {
  .wrapper--footer {
    margin-top: 200px;
    height: 100%;
  }
}

.menu {
  background-color: #3f5252;
  color: #f1f5f4;
}
.menu__nav {
  max-width: 1280px;
  height: 90px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.menu__nav-container {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .menu__nav {
    padding: 0 40px;
    height: 77px;
  }
}
@media (min-width: 1280px) {
  .menu__nav {
    height: 90px;
    padding: 0 55px;
    margin: auto;
  }
}
.menu__image {
  display: none;
}
@media (min-width: 768px) {
  .menu__image {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 16px;
    height: 466px;
    width: 422px;
  }
}
@media (min-width: 1280px) {
  .menu__image {
    right: 0;
    top: 0;
    display: block;
    position: absolute;
    margin-top: 90px;
    padding: 0;
    height: 697px;
    width: 624px;
  }
}
.menu__list {
  list-style: none;
  padding: 0;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .menu__list {
    margin-top: 28px;
  }
}
@media (min-width: 1280px) {
  .menu__list {
    margin-top: 28px;
  }
}
.menu__item {
  margin-top: 23px;
}
.menu__logo:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}
.menu__link {
  color: #f1f5f4;
  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.menu__link:hover {
  color: #cd4d31;
}
@media (min-width: 768px) {
  .menu__link {
    font-size: 48px;
    line-height: 64px;
  }
}
@media (min-width: 1280px) {
  .menu__link {
    line-height: 96px;
  }
}
.menu__button {
  margin-top: 60px;
  position: relative;
}
@media (min-width: 768px) {
  .menu__button {
    margin-top: 82px;
  }
}
@media (min-width: 1280px) {
  .menu__button {
    margin-top: 86px;
  }
}
.menu__button::before {
  content: "";
  background-color: #f1f5f4;
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: -42px;
}
@media (min-width: 768px) {
  .menu__button::before {
    top: -52px;
    width: 690px;
  }
}
@media (min-width: 1280px) {
  .menu__button::before {
    top: -64px;
    width: 570px;
  }
}

@media (min-width: 768px) {
  .time {
    margin-top: 30px;
  }
}
@media (min-width: 1280px) {
  .time {
    margin-top: 14px;
  }
}
.time__text-1 {
  font-size: 14px;
  line-height: 20px;
}
.time__text-2 {
  font-size: 16px;
  line-height: 22px;
}

.address {
  margin-top: 22px;
}
@media (min-width: 768px) {
  .address {
    margin-top: 30px;
  }
}
@media (min-width: 1280px) {
  .address {
    margin-top: 14px;
  }
}
.address__text-1 {
  font-size: 14px;
  line-height: 20px;
}
.address__link {
  color: #f1f5f4;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.address__link:hover {
  color: #cd4d31;
}
.address__text-2 {
  font-size: 16px;
  line-height: 22px;
}

.wrapper {
  margin: auto;
  position: relative;
  max-width: 1280px;
}

/*# sourceMappingURL=main.css.map */
